<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IgniteUI.Blazor.Lite.Examples</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>

        <div class="nav-item px-3 fw-bold mt-2">Form Controls</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="input">Input</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="textarea">Textarea</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="combo">Combo Box</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="select">Select</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datepicker">Date Picker</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="daterangepicker">Date Range Picker</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calendar">Calendar</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datetimeinput">Date Time Input</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="maskinput">Mask Input</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="checkbox">Checkbox</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="radio">Radio</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="switch">Switch</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="slider">Slider</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rating">Rating</NavLink>
        </div>

        <div class="nav-item px-3 fw-bold mt-2">Layout</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tabs">Tabs</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stepper">Stepper</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="accordion">Accordion</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expansionpanel">Expansion Panel</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="navbar">Navbar</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="navdrawer">Nav Drawer</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tree">Tree</NavLink>
        </div>

        <div class="nav-item px-3 fw-bold mt-2">Data Display</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="button">Button</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="icon">Icon</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="card">Card</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="carousel">Carousel</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="list">List</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="avatar">Avatar</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="badge">Badge</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chip">Chip</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="progress">Progress</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dropdown">Dropdown</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tooltip">Tooltip</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ripple">Ripple</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="divider">Divider</NavLink>
        </div>

        <div class="nav-item px-3 fw-bold mt-2">Feedback</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dialog">Dialog</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="snackbar">Snackbar</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="toast">Toast</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="banner">Banner</NavLink>
        </div>

        <div class="nav-item px-3 fw-bold mt-2">Grid</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gridlite">Grid Lite</NavLink>
        </div>

        <div class="nav-item px-3 fw-bold mt-2">Layout Managers</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tilemanager">Tile Manager</NavLink>
        </div>
    </nav>
</div>

