@page "/badge"

<PageTitle>Badge Demo</PageTitle>

<h3>Badge</h3>

<IgbBadge>5</IgbBadge>
<IgbBadge>Info</IgbBadge>
<IgbBadge>OK</IgbBadge>
<IgbBadge>99+</IgbBadge>

<h4>Outlined</h4>
<IgbBadge Outlined="true">Outlined</IgbBadge>
<IgbBadge Outlined="true">Alert</IgbBadge>
