@page "/chip"

<PageTitle>Chip Demo</PageTitle>

<h3>Chip</h3>

<IgbChip>Default</IgbChip>
<IgbChip Selectable="true">Selectable</IgbChip>
<IgbChip Removable="true">Removable</IgbChip>
<IgbChip Selectable="true" Removable="true">Both</IgbChip>
<IgbChip Disabled="true">Disabled</IgbChip>
