@page "/"

<PageTitle>Home</PageTitle>

<h1>IgniteUI Blazor Lite - Component Examples</h1>

<p>Standalone component demos for <code>IgniteUI.Blazor.Lite</code> and <code>IgniteUI.Blazor.GridLite</code> packages.</p>

<h2>Form Controls</h2>
<ul>
    <li><a href="input">Input</a></li>
    <li><a href="textarea">Textarea</a></li>
    <li><a href="combo">Combo Box</a></li>
    <li><a href="select">Select</a></li>
    <li><a href="datepicker">Date Picker</a></li>
    <li><a href="daterangepicker">Date Range Picker</a></li>
    <li><a href="calendar">Calendar</a></li>
    <li><a href="datetimeinput">Date Time Input</a></li>
    <li><a href="maskinput">Mask Input</a></li>
    <li><a href="checkbox">Checkbox</a></li>
    <li><a href="radio">Radio</a></li>
    <li><a href="switch">Switch</a></li>
    <li><a href="slider">Slider</a></li>
    <li><a href="rating">Rating</a></li>
</ul>

<h2>Layout</h2>
<ul>
    <li><a href="tabs">Tabs</a></li>
    <li><a href="stepper">Stepper</a></li>
    <li><a href="accordion">Accordion</a></li>
    <li><a href="expansionpanel">Expansion Panel</a></li>
    <li><a href="navbar">Navbar</a></li>
    <li><a href="navdrawer">Navigation Drawer</a></li>
    <li><a href="tree">Tree</a></li>
</ul>

<h2>Data Display</h2>
<ul>
    <li><a href="button">Button</a></li>
    <li><a href="icon">Icon</a></li>
    <li><a href="card">Card</a></li>
    <li><a href="carousel">Carousel</a></li>
    <li><a href="list">List</a></li>
    <li><a href="avatar">Avatar</a></li>
    <li><a href="badge">Badge</a></li>
    <li><a href="chip">Chip</a></li>
    <li><a href="progress">Progress</a></li>
    <li><a href="dropdown">Dropdown</a></li>
    <li><a href="tooltip">Tooltip</a></li>
    <li><a href="ripple">Ripple</a></li>
    <li><a href="divider">Divider</a></li>
</ul>

<h2>Feedback</h2>
<ul>
    <li><a href="dialog">Dialog</a></li>
    <li><a href="snackbar">Snackbar</a></li>
    <li><a href="toast">Toast</a></li>
    <li><a href="banner">Banner</a></li>
</ul>

<h2>Grid</h2>
<ul>
    <li><a href="gridlite">Grid Lite</a></li>
</ul>

<h2>Layout Managers</h2>
<ul>
    <li><a href="tilemanager">Tile Manager</a></li>
</ul>
