@page "/maskinput"

<PageTitle>Mask Input Demo</PageTitle>

<h3>Mask Input</h3>

<IgbMaskInput Mask="(000) 000-0000"
              Label="Phone Number"
              Placeholder="(555) 123-4567" />

<IgbMaskInput Mask="00/00/0000"
              Label="Date"
              Placeholder="MM/DD/YYYY" />

<IgbMaskInput Mask="AAAA-0000"
              Label="Code"
              Placeholder="ABCD-1234" />
