@page "/progress"

<PageTitle>Progress Demo</PageTitle>

<h3>Circular Progress</h3>

<IgbCircularProgress Value="65" Max="100" />
<IgbCircularProgress Indeterminate="true" />

<h3>Linear Progress</h3>

<IgbLinearProgress Value="42" Max="100" Striped="true" />
<IgbLinearProgress Value="75" Max="100" />
<IgbLinearProgress Indeterminate="true" />
