@page "/slider"
@rendermode InteractiveWebAssembly

<PageTitle>Slider Demo</PageTitle>

<h3>Slider</h3>

<h4>Single Value</h4>
<IgbSlider Value="40" Min="0" Max="100" Step="5" />

<h4>Range Slider</h4>
<IgbRangeSlider Lower="20" Upper="70" Min="0" Max="100" />

<h4>Disabled</h4>
<IgbSlider Value="50" Disabled="true" />
