@page "/tabs"
@rendermode InteractiveWebAssembly

<PageTitle>Tabs Demo</PageTitle>

<h3>Tabs</h3>

<IgbTabs>
    <IgbTab Label="Tab 1">
        <p>Content for tab 1. Lorem ipsum dolor sit amet.</p>
    </IgbTab>
    <IgbTab Label="Tab 2">
        <p>Content for tab 2. Consectetur adipiscing elit.</p>
    </IgbTab>
    <IgbTab Label="Tab 3">
        <p>Content for tab 3. Sed do eiusmod tempor incididunt.</p>
    </IgbTab>
    <IgbTab Label="Disabled" Disabled="true">
        <p>This tab is disabled.</p>
    </IgbTab>
</IgbTabs>
